body {
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #78350f;
    padding-top: 15px;
    text-align: center;
    z-index: 1000;
}

.navbar a {
    color: #fef3c7;
    margin: 0 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

section {
    padding-top: 60px;
}

.home {
    height: 100vh;
    background-color: #fef3c7;
    color: #78350f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.home h1 {
    font-size: 50px;
    color: #1f2937;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.home p {
    font-size: 20px;
}

.events {
    height: 100vh;
    background-color: #fde68a;
    color: #78350f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events h1 {
    font-size: 45px;
}

.events p {
    font-size: 20px;
}

.team {
    height: 100vh;
    background: #fef3c7;
    text-align: center;
    padding-top: 80px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 800px;
    margin: auto;
}

.team-container {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.card {
    background-color: #227c8a;
    color: #6D2E2E;
    padding: 25px;
    width: 230px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s, background 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background-color: #ae5a10;
    color: rgb(18, 90, 138);
}

.about-box {
    background-color: #fff7ed;
    padding: 35px;
    max-width: 820px;
    border-radius: 14px;
    margin-top: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.about-box h2 {
    color: #78350f;
    font-size: 28px;
    border-bottom: 2px solid #78350f;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.about-box p {
    font-size: 18px;
    line-height: 1.7;
    margin-top: 14px;
    color: #1f2937;
}